USE_SQLITE=True
SECRET_KEY=r@v!@@wmwhgn#5%pls7wut4+4814f0&a%qyka%i9c)z6a+itdf

DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

SQL_DATABASE=hello_django_dev
SQL_USER=hello_django
SQL_PASSWORD=hello_django
SQL_HOST=db
SQL_PORT=5432

CSRF_TRUSTED_ORIGINS=https://127.0.0.1:8000,https://localhost:8000,https://localhost:9000

# Email settings
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_email_password


REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0


STATIC_ROOT = /home/www/staticfiles
STATIC_URL = /static/