nav {
  display: flex;
  justify-content: space-evenly;
}
nav > a {
  color: black;
  text-decoration: none;
}

.active-nav {
  text-decoration: underline;
  text-decoration-color: blue;
}
#result-page {
  display: none;
}
#errors {
  display: none;
}
